body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#euroicon {
    width: 100px;
    height: 110px;
}

#icon {
    padding-top: 50px;
    text-align: center;
}

#title {
    color: white;
    text-align: center;
    font-family: hobo-std, sans-serif;
    font-size: 2em;
    padding-top: 15px;
}

#matchday {
    color: black;
    text-align: left;
    font-weight: 450;
    font-size: 1.1em;
}

#border {
    border-right: 2px solid rgb(179, 179, 179);
}

#country {
    padding-left: 5px;
    color: white;
    font-family: hobo-std, sans-serif;
}

#number {
    color: white;
    font-family: hobo-std, sans-serif;
}

#fulltime {
    color: white;
    height: 10px;
}

#back {
    background-color: rgba(20, 89, 100, 0.904);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 7px 7px 7px 7px;
    margin-bottom: 10px;
}

#foot {
    background-color: rgb(0, 39, 44);
    font-family: sans-serif;
    font-size: 1.1em;
    text-align: center;
    height: 45px;
    color: white;
}